body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dce6f1;
}

#box {
    background-color: #eee0e0;
    height: 50vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30vh;
    border-radius: 1vw;
    border: solid #1e3964;
}

#box img {
    position: fixed;
    top: 32vh;
}

#label1 {
    position: fixed;
    top: 52vh;
    left: 37vw;
    color: #1e3964;
}

#label2 {
    position: fixed;
    top: 62vh;
    left: 37vw;
    color: #1e3964;
}

#username {
    position: fixed;
    top: 56vh;
    left: 36vw;
    height: 3vh;
    width: 28vw;
    border: none;
    border-bottom: 0.13vw solid #1e3964;
    background-color: #eee0e0;
    font-size: 1vw;
}

#password {
    position: fixed;
    top: 65vh;
    left: 36vw;
    height: 4vh;
    width: 28vw;
    border: none;
    border-bottom: 0.13vw solid #1e3964;
    font-size: 1vw;
    background-color: #eee0e0;
}

#LoginB {
    position: fixed;
    top: 72vh;
    right: 37vw;
    height: 4vh;
    width: 5vw;
    background-color: transparent;
    border: solid #1e3964;
    color: #1e3964;
    font-size: 2vh;
    cursor: pointer;
    transition: 0.3s;
}

#LoginB:hover {
    background-color: #1e3964;
    color: #dce6f1;
}

#box a {
    position: fixed;
    top: 74vh;
    right: 43vw;
    color: #1e3964;
    text-decoration: none;
    cursor: default;
}

#username:focus {
    border: none;
    border-bottom: 0.13vw solid #5e7dad;
    background-color: #eee0e0;
    outline: none;
}

#password:focus {
    border: none;
    border-bottom: 0.13vw solid #5e7dad;
    background-color: #eee0e0;
    outline: none;
}
#ShowPassword {
    position: fixed;
    top: 65vh;
    right: 36vw;
    height: 4vh;
    width: 2vw;
    cursor: pointer;
    background-image: url(../img/Olho\ fechado.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}
/*Animação das notas de fundo*/
#MusicNotes {
    height: 100vh;
    width: 100vw;
}
.nota_fundo {
    height: 13vh;
    width: 13vw;
    position: relative;
}
.first_layer {
    top: 6vh;
    right: -100vw;
    transform: rotate(0deg);
}
.second_layer {
    top: 11vh;
    right: 100vw;
    transform: rotate(0deg);
}
.third_layer {
    top: 16vh;
    right: -100vw;
    transform: rotate(0deg);
}
.fourth_layer {
    top: 21vh;
    right: 100vw;
    transform: rotate(0deg);
}
.fifth_layer {
    top: 26vh;
    right: -100vw;
    transform: rotate(0deg);
}